doctype html
html
  head
    title Nodevember '14
  body
    h1 Nodevember
    p export CLOUDAMQP_URL=amqp://wwncrdep:GMBZdpBXAb2ywuI4pm_KIWyRA6Bd1sB3@silver-toad.rmq.cloudamqp.com/wwncrdep
    h2 Weather
    p #{weather}
    h2 Map
    p #{map}
    h2 Hit count
    p #{hits}
    h2 Kitten picture
    img(src=kitten)
