doctype html
html
  head
    title Nodevember '14
  body
    h1 Nodevember
    h2 Weather
    p #{weather}
    h2 Map
    p #{map}
    h2 Hit count
    p #{hits}
    h2 Kitten picture
    img(src=kitten)
