doctype html
html
  head
    title Nodevember '14
  body
    h1 Nodevember
    p amqp://wwncrdep:GMBZdpBXAb2ywuI4pm_KIWyRA6Bd1sB3@silver-toad.rmq.cloudamqp.com/wwncrdep
    h2 Weather
    p #{weather}
    h2 Map
    p #{map}
    h2 Ad
    p #{ad}
